.filter-row {
    @include flex(row, space-between);
}

.filter-row__continent_hidden {
    display: none;
}

.country_bold {
    font-size: 20px;
}

.country_hidden {
    display: none;
}

.countries {
    @include flex(row, space-between);
    flex-wrap: wrap; 
    margin: auto;
    width: 1200px;    
    .country {
        width: 30%;
    }    
}