.filter-row {
    @include flex(row, space-between);
}

.filter-row__continent_hidden {
    display: none;
}

.country_bold {
    font-size: 20px;
}

.country_hidden {
    display: none;
}

.countries {
    @include flex(row, space-between);
    flex-wrap: wrap; 
    margin: auto;
    width: 1200px;    
    .country {
        padding: 5px;
        width: 30%;
    }    
}

.country__image-container {
    height: 270px;
    width: 360px;
    .country__flag {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}